<form id="score_form" action="/api/create" method="post">
  <label>
  <strong>game id</strong>
  <input type="text" id="game_id" name="game_id"/>
  </label><br /> 
  <label>
  <strong>player</strong>
  <input type="text" id="player" name="player"/><br />   
  </label><br /> 
  <label>
  <strong>score</strong>
  <input type="text" id="score" name="score"/><br />   
  </label><br /> 
  <input type="submit" value="create"/>
</form>